<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wine Worms </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>Wine Worms</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                        </li>
                        @if (User.IsInRole("Member"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Catalogue" asp-action="MyIndex"><strong>My Books</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Catalogue" asp-action="Index"><strong>Catalogue</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Catalogue" asp-action="currentlyReading"><strong>Currently Reading</strong></a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Catalogue" asp-action="catalogueEditor"><strong>Book Owners</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Book" asp-action="Index"><strong>Books</strong></a>
                            </li>
                        }

                    </ul>
                </div>
                @*add these 3 lines of code*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Wine Worms Book Hub - <img src="images/facebook.jpg" alt="facebook logo" /> <a href="https://www.facebook.com/WineWorms" target="_blank">Facebook Page</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
