<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <img src="https://wineworms.azurewebsites.net/images/wineworms2.png" class="img-thumbnail" />
    <h5>{9}</h5>
    <h5>{10}</h5>
    <h4>Welcome to {1}'s Bookclub Newsletter</h4>
    <p>Our next BookClub Meeting will take place on {3} in {0} at {8}</p>
    {2}
    <p>Don't forgot to log in and check who has requested a book you are currenlty reading or own and bring it with you to the meeting.</p>

    <h4>Book of The Month</h4>
    <h5>{4}</h5>
    <img src="{5}" height="200" />
    <h5>{6}</h5>
    <h5>{7}</h5>


    <br />


    <p><i>Wine Worms Book Hub</i></p>
</body>
</html>
