<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <img src="~/wwwroot/images/wineworms.jpg/{0}" class="img-thumbnail" />

    <h4>Welcome to {1}'s Bookclub Newsletter</h4>
    <p>Our next BookClub Meeting will take place on {3} in Kavanagh's at 7pm</p>
    <h4>New Members: {2}</h4>
    <p>Don't forgot to log in and check who has requested a book you are currenlty reading or own and bring it with you to the meeting.</p>

    <h4>New Books Added To The Catalogue:</h4>
    <table class="table" width="100%">
        <thead>
            <tr>
                <th style="text-align:left">
                    Title
                </th>
                <th style="text-align:left">
                    Author
                </th>
                <th style="text-align:left">
                    Genre
                </th>
                <th style="text-align:left"></th>
            </tr>
        </thead>
        <tbody>
 
        </tbody>
    </table>

    <br />


    <p><i>Wine Worms Book Hub</i></p>
</body>
</html>
