@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Wine Worms Book Hub</strong></h1>
    <p></p>
    <img class="img-fluid" src="~/images/wineworms3.png" width="785" height="500" />
</div>
